.posts__item {
  max-width: 380px;
  margin-bottom: 20px;
  margin-right: 20px;
  @media screen and (max-width:955px) {
    max-width: 314px;
  }
  @media screen and (max-width:720px) {
    max-width: 335px;
    margin-right: 0;
  }
}

.posts__item:nth-child(3n) {
  margin-right: 0;
  @media screen and (max-width:1399px) {
    margin-right: 20px;
  }
  @media screen and (max-width:720px) {
    margin-right: 0;
  }
}
.posts__item:nth-child(2n) {
    @media screen and (max-width:955px) {
    margin-right: 0;
  }
}

.posts__img {
  margin-bottom: 15px;
  @media screen and (max-width:769px) {
    width: 314px;
    height: 182px;
  }
}

.posts__data {
  margin-bottom: 7px;
  color: #818181;
}

.posts__name {
  @include font(24px, 31px, 700);
  text-transform: none;
  margin-bottom: 15px;
}

.posts__text {
  @include font(18px, 25px, 400);
  margin-bottom: 15px;
}

.posts__link:hover {
  text-decoration-line: underline;
  transition: 0.3s;
}

.posts__link:active {
  text-decoration-line: underline;
}