.posts__item {
  width: 380px;
  margin-bottom: 20px;
}

.posts__img {
  margin-bottom: 15px;
}

.posts__data {
  margin-bottom: 7px;
  color: #818181;
}

.posts__name {
  @include font(24px, 31px, 700);
  text-transform: none;
  margin-bottom: 15px;
}

.posts__text {
  @include font(18px, 25px, 400);
  margin-bottom: 15px;
}

.posts__link:hover {
  text-decoration-line: underline;
  transition: 0.3s;
}

.posts__link:active {
  text-decoration-line: underline;
}