/* BUTTON */

.button {
  @include font(16px, 22px, 700);
  display: inline-block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  padding: 9px 22px;

  @media screen and (max-width:550px) {
    padding: 8px 20px;
    @include font(14px, 19px, 700);
  }
}

.button:hover {
  background-color: #C29974;
  cursor: pointer;
  transition: 0.4s;
}

.button:active {
  opacity: 0.4;
}

.button:disabled {
  background-color: #C7C1C1;
  opacity: 0.6;
}
