.container {
  max-width: 1180px;
  margin: 0 auto;

  @media screen and (max-width: 1399px) {
    width: 84%; 
    margin: 0 auto;
}
  @media screen and (max-width: 376px) {
    width: 89%;
    margin: 0 auto;
  }
}
