/* FOOTER */

.footer { 
  background: #434343; 
  padding-top: 100px;
  padding-bottom: 100px;
  
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    @include font(16px, 22px, 400);
    font-family: "Open Sans", sans-serif;
    color: #AAAAAA;
    text-transform: none;
    }
    
  &__heading::after {
      content: "";
      display: block;
      height: 1px;
      background: #666666;
      margin-top: 23px;
      margin-bottom: 25px;
      width: 380px;
    }
  
    &__nav, &__info {
      margin-right: 20px;
    }
    
    &__text {
      color: #ffffff;
      width: 380px;
      margin: 0px;
      opacity: 0.9;
    }

    &__link {
      color: #A2A2A2;
      width: 380px;
    }

    &__link:hover {
        text-decoration: underline;
        transition: 0.3s;
      }
  }


.nav__link, 
.info__link {
    color: #FFFFFF;
    margin-bottom: 15px;
    opacity: 0.9;
  }

.nav__item,
.info__item,
.social__item {
    :hover {
      opacity: 0.5;
      transition: 0.3s;
      }
    :active {
      opacity: 0.2;
      transition: 0.2s;
      }
  }
  
.connect__form {
  display: flex;
}

.connect__input {
  border: none;
  height: 40px;
  background: #666666;
  width: 299px;
  margin-right: 0px;
}

.connect__input:hover {
    border: 1px solid #FFFDFD;
    }

.connect__input:active {
    border: 1px solid #FFFDFD;
    }

.connect__input::placeholder {
  color: #ebebeb;
  padding-top: 9px;
  padding-left: 15px; 
}

.social {
  &__heading {
  display: none;
}
  &__list {
    display: flex;
    margin-top: 25px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.border {
  content: "";
  display: block;
  height: 1px;
  background: #666666;
  margin-top: 13px;
  margin-bottom: 23px;
  width: 1180px;
}
