/* HEADER */

.header {
  @include font(14px, 19px, 400);
  text-transform: uppercase;
  position: sticky;
  top: 0px;
  background: #FFFFFF;
  z-index: 100;
  padding: 5px 0;

  &__menu {
  display: flex;
  margin-top: 45px;
  margin-bottom: 35px;
  justify-content: space-between;
  max-width: 1180px;
}

  &__list, &__list_two {
    display: flex;
    align-items: center;
      
    }
  

  &__list_mobile {
    display: none;
  }

  

  &__item:first-child {
    margin-right: 60px;
  }

  &__item:not(:first-child,:last-child) {
    margin-right: 20px;
  }

  &__item_two:not(:first-child) {
    margin-left: 23px;
    font-weight: 700;
  }

  &__item, &__item_two {
    :hover {
      opacity: 0.5;
      transition: 0.3s;
    }
    :active {
      opacity: 0.2;
      transition: 0.3s;
    }
}
}

  .menu-mobile {

    &__none {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__btn_on {
      display: block;
      background: none;
    }
  }




  @media screen and (max-width:1000px) {
      .header-none {
        display: none;
      }

      .header__list_mobile {
        display: flex;
        align-items: center;
      }

      .header__item:first-child {
        margin-right: 0;
      }

      .menu-mobile {
        @include font(14px, 19px, 400);
        text-transform: uppercase;
        background: none;
      }
    }

    @media screen and (max-width:768px) {
      .header__logo {
        width: 62px;
        height: 32px;
      }

      .header__search {
        width: 17px;
      }
    }

    @media screen and (max-width:450px) {
      .header__logo {
        width: 42px;
        height: 22px;
      }
      
      .header__search {
        width: 12px;
        height: 13px;
      }

      .header__menu {
        margin-top: 25px;
        margin-bottom: 26px;
      }
      
    }
