html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  @include font;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: $color-text;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  @include font(40px, 49px, 700);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.title_two {
  font-size: 38px;
  line-height: 46px;

  @media screen and (max-width: 800px) {
    @include font(36px, 44px, 700);
  }

  @media screen and (max-width: 657px) {
    @include font(24px, 29px, 700);
  }

}

.subtitle {
  @include font(20px, 26px, 400);
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
  @media screen and (max-width:650px) {
    @include font(16px, 21px, 400);
  }
}

.subtitle_two {
  @include font(26px, 34px, 400);
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  color: $color-text;
}

p {
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
}


/* FORM */

.form {
  @include font(14px, 19px, 400);
  width: 600px;
  display: inline-block;
}

.input__name {
  width: 600px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input__phone,
.input__email {
  width: 290px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input__phone {
  margin-right: 20px;
}

.wrapp {
  display: flex;
  justify-content: space-between;
}

.message {
  resize: none;
  width: 600px;
  height: 150px;
  overflow: hidden;
  margin-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.message:hover {
  border: 1px solid #C29974;
}

.form input:hover {
  border: 1px solid #C29974;
}

/* breadcrumbs__list */

.breadcrumbs__heading {
  @media screen and (max-width:1000px) {
    @include font(36px, 44px, 700);
  }
  @media screen and (max-width:650px) {
    @include font(24px, 29px, 700);
  }
}

.breadcrumbs__list {
  margin: 20px 0 50px 0;
}

.breadcrumbs__list {
  display: flex;
  margin-top: 15px;
}

.breadcrumbs__list li:nth-last-child(1) {
  opacity: 0.5;
}

.breadcrumbs__item {
  margin-right: 20px;
}

.breadcrumbs__link:hover {
  opacity: 0.5;
}

/* CHECKBOX */

.custom__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.color__list_item:not(:last-child) {
  margin-bottom: 10px;
}

.custom__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #C29974;
  border-radius: 3px;
  margin-right: 10px;
}

.custom__checkbox:hover+label {
  text-decoration: underline;
  transition: 0.3s;
}

.custom__checkbox:checked+label::before {
  background-color: #ffff;
  background-image: url(../img/icon/checked.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 90%;
}
