.posts {
  margin-bottom: 20px;
  width: 100%;
  @media screen and (max-width:720px) {
    width: 84%;
  }
}

.posts__heading {
  display: none;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
