/* PRODUCTS */

.products {
  margin-bottom: 35px;
  @media screen and (max-width:1050px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width:400px) {
    margin-bottom: 15px;
  }
}

.products h2 {
  display: none;
}

.category__wrapper {
  max-width: 1180px;
}

.category__list_catalog {
  flex-wrap: wrap;
  @media screen and (max-width:1320px) {
    justify-content: center;
  }
}


@media screen and (max-width:1100px) {
.category__list.category__list_catalog {
  @include font(24px, 29px, 700);
  max-width: 860px;
  }
}

@media screen and (max-width:766px) {
  .category__list.category__list_catalog {
    @include font(18px, 22px, 700);
  }
  .category__link {
    max-width: 135px;
  }
}

@media screen and (max-width:356px) {
  .category__list.category__list_catalog {
    @include font(14px, 19px, 700);
  }
  .category__link {
    max-width: 100px;
  }
}

.category__item_catalog {
  margin-bottom: 23px;
  @media screen and (max-width:1320px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width:766px) {
    margin-bottom: 15px;
    margin-right: 15px;
  }

}

.category__list_catalog li:nth-child(8) {
  margin-left: 200px;
  @media screen and (max-width:1320px) {
    margin-left: 0;
  }
}

.category__list_catalog li:nth-child(6n+6) {
  margin-right: 0;
  @media screen and (max-width:600px) {
    margin-right: 15px;
  }
  }

  @media screen and (max-width:400px) {
    .category__list_catalog li:nth-child(4n+4) {
      margin-right: 0;
    } 
  }

  

.category__link:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.category__link:active {
  text-decoration: underline;
}

.category__img_catalog {
  @media screen and (max-width:1100px) {
    width: 202px;
    height: 196px;
  }
  @media screen and (max-width:766px) {
    width: 151px;
    height: 154px;
  }
  @media screen and (max-width:356px) {
    width: 133px;
    height: 135px;
  }
}


/* PRODACT DESCRIPTION */

.product-description {
  &__content {
    max-width: 680px;
    margin-left: 200px;
    margin-bottom: 55px;
    @media screen and (max-width:1100px) {
      max-width: 650px;
    }

    @media screen and (max-width:1100px) {
      margin-left: 0;
      margin-bottom: 50px;
    }
  }
  &__heading {
    margin-bottom: 25px;
    @media screen and (max-width:1100px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width:400px) {
      margin-bottom: 15px;
    
  }
}
}

.product-description__text:not(:last-child) {
  margin-bottom: 15px;
}
