/* PRODUCTS */

.products {
  margin-bottom: 55px;
}

.products h2 {
  display: none;
}

.category__wrapper {
  width: 1080px;
}

.category__list,
.category__list_two {
  @include font(26px, 32px, 700);
  display: flex;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-align: center;
  justify-content: start;
}

.category__list_two {
  margin-top: 23px;
  justify-content: end;
}



.category__link:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.category__link:active {
  text-decoration: underline;
}

/* PRODACT DESCRIPTION */

.product-description {
  &__content {
    width: 680px;
    margin-left: 200px;
    margin-bottom: 55px;
  }
  &__heading {
    margin-bottom: 25px
  }
}

.product-description__text:not(:last-child) {
  margin-bottom: 15px;
}
