@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/rating";
@import "_blocks/category_list";
@import "_blocks/button";
@import "_blocks/popup";
@import "_blocks/pagination";
@import "_blocks/blog_posts";
@import "_blocks/toys_list";
@import "blog";
@import "catalog";
@import "toys";
@import "contactUs";
@import "animation";
@import "svg";
@import "grid";



/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/



/* BANNER*/

.banner {
  justify-content: center;
  margin-top: 89px;


  &__content {
  display: flex;
  background: #eee4db;
    &_two {
      background: #c29974;
      max-width: 1180px;
      text-align: center;
    }
}

  &__wrapper {
    justify-content: start;
    margin: 17px 44px 0px 28px;
    width: 61px;
  }

  &__wrapper_two {
    align-items: center;
    width: 307px;
    padding: 89px 0;
  }

  &__heading {
    line-height: 44px;
    font-size: 40px;
  }

  &__subtitle {
    @include font(20px, 26px, 400);
    margin: 20px 0px 20px 0px;
  }

  &__span {
    @include font (60px, 73px, 200);
    font-family: "Montserrat", sans-serif;
    color: rgba(30, 6, 6, 0.05);
    margin-bottom: 5px;
  }

  &__text {
    @include font(12px, 16px, 700);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    
    display: inline-block;
    padding: 11px 20px;
    
  }
  &__wrapper_img {
    position: relative;
  }
  &__img {    
    position: absolute;
    top: -89px;

    max-width: 635px;
  }
}

.btn__list {
  display: block;
  width: 31px;
  margin-top: 10px;
  margin-left: 3px;
}

.btn__item {
  margin: 0;
  padding: 0;
  height: 3px;
  margin-bottom: 11px;
}

.btn_rectangle { 
  display: block;
  width: 31px;
  height: 3px; 
  background: #d6cac2;
  margin-bottom: 11px;
}

.btn_active {
  background: rgba(30, 6, 6, 0.6);
}

.btn_rectangle:hover {
  background: rgba(30, 6, 6, 0.6);
  cursor: pointer;
}
.btn_rectangle:active {
  background: rgba(30, 6, 6, 0.6);
}



  .btn__list {
    width: 27px;
    height: 2.67px;
  }

  @media screen and (max-width:1293px) {
    .banner__img {
      top: 7px;
      width: 504px;
      height: auto;
      left: -10px;
    }
    .banner {
      margin-top: 0;
    }
    

  }
  @media screen and (max-width:1137px) {
    .banner__img {
      height: auto;
      left: -110px;
      top: 15px;
      width: 493px;
    }
  }

  @media screen and (max-width:1000px) {
    .banner__img {
      height: auto;
      left: -120px;
      top: 50px;
      width: 445px;
    }
  }

  @media screen and (max-width:950px){
    .banner__img {
    height: 286px;
    left: -126px;
      top: 86px;
      width: 385px;
    }


  .banner__wrapper {
margin: 17px 0 0 11px;
  }
  .banner__wrapper_two {
    padding-top: 76px;
    padding-bottom: 102px;
  }
  .banner__span {
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
  }

  .banner__heading {
    width: 307px;
    font-size: 40px;
    line-height: 44px;
  }
  }

      
@media screen and (max-width:767px) {

  .banner__img {
    height: 226px;
    left: -126px;
    top: 138px;
    width: 292px;
  }
  .banner {
    width: 100%;
  }
  .banner__heading {
    font-size: 36px;
    line-height: 40px;
  }


  .banner__content {
    padding: 0 20px;
  }
}
@media screen and (max-width:575px) {

  .banner__img {
    height: auto;
    left: 54px;
    top: 243px;
    width: 292px;
  }

    .banner__wrapper_two {
    width: 276px;
    order: 1;
    padding-top: 80px;
    padding-bottom: 188px;
  }
}
@media screen and (max-width:450px) {
  .banner {
    width: 100%;
  }
  .banner__heading {
    font-size: 36px;
    line-height: 40px;
  }
  .banner__wrapper_two {
    width: 276px;
    order: 1;
    padding-top: 80px;
  }
  .banner__wrapper {
    order: 2;
  }

  .banner__content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

@media screen and (max-width:370px) {
  .banner__img {
    height: auto;
    left: 56px;
    top: 281px;
    width: 239px;

  }

  .banner__heading {
    font-size: 30px;
    line-height: 40px;
  }

  .banner__wrapper_two {
    width: 235px;
  }
}

/* CATEGORY PRODUCTS */

.category {
  margin-top: 90px;

  &__wrapper {
    margin-top: 30px;
    max-width: 1180px;
  }

  &__list {
    @include font(26px, 32px, 700);
    display: flex;
    text-transform: uppercase;
    font-family: "Montserrat";
    text-align: center;
    overflow: scroll;
    width: 1180px;
    width: 100%;
    max-width: 1180px;

}
}

.category__link:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.category__link:active {
  text-decoration: underline;
}

.category__slider {
  display: flex;
  max-width: 680px;
  margin-top: 33px;

  &_text {
    margin-left: 14px;
}
  &_btn {
    width: 37px;
    height: 37px;
    border: none;
    margin-right: 6px;
    background: rgba(112, 187, 220, 0.2);
    padding: 5px 12px 6px 12px;
  }
}

.category__slider_btn:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.category__slider_btn:active {
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
}

/* DELIVERY*/

.delivery {
  display: flex;
  margin-top: 90px;

  &__content {
    margin-top: 30px;
    margin-left: 120px;
}
  &__heading {
    margin-bottom: 6px;
  }

  &__subtitle {
    max-width: 326px;
    height: 55px;
    margin-left:-60px;
    padding-left: 60px;
    padding-top: 11px;
    cursor: pointer;
  }

  &__wrapper {
    max-width: 326px;
    margin: 0;
    margin-bottom: 22px;
  }

  &__btn {
    margin-top: 11px;
  }

  &__description {
    margin-bottom: 15px;
    max-width: 480px;
  }

  &__wrapper {
    max-width: 326px;
    margin: 0;
    margin-bottom: 22px;
  }
}

.delivery__subtitle:hover {
  background: rgba(112, 187, 220, 0.2);
  font-weight: 700;
  border: none;
}

/* COMPANY */

.company {
  margin-top: 91px;
  margin-bottom: 90px;

  &__heading {
  display: none;
}

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

/* ABOUT COMPANY */

.company-info {
  display: flex;
  margin-bottom: 155px;
}

.about-company {
  position: relative;

  &__heading {
    position: absolute;
    left: 30px;
}

  &__content {
    background: $color-bg;
    margin-top: 21px;
    padding: 31px 30px 27px 30px;
  }

  &__subtitle {
    margin-bottom: 10px;
}

  &__text {
    max-width: 483px;
}

  &__btn {
    margin-top: 20px;
}
}

.contacts-company {
  position: relative;
  margin-left: 57px;

  &__content {
    background: $color-bg;
    margin-top: 21px;
    padding: 41px 30px 102px 30px;
}
  &__heading {
    position: absolute;
    left: 30px;
  }

  &__text {
    max-width: 483px;
}

  &__map {
    position: absolute;
    margin-top: 30px;
}
}
