<footer class="footer ">
  <div class="container">
    <div class="footer__content">
      <section class="footer__nav">
        <h3 class="footer__heading">Navigation</h3>
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Design Services</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Featured On</a></li>
          <li class="nav__item"><a class="nav__link" href="#">2018 Holiday Catalog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Shop By Designer</a></li>
        </ul>
      </section>
      <section class="footer__info">
        <h3 class="footer__heading">Customer Information</h3>
        <ul class="infor__list">
          <li class="info__item"><a class="info__link" href="#">Contact Us</a></li>
          <li class="info__item"><a class="info__link" href="#">Sale Exclusions</a></li>
          <li class="info__item"><a class="info__link" href="#">Shipping & Returns</a></li>
          <li class="info__item"><a class="info__link" href="#">Terms & Conditions</a></li>
          <li class="info__item"><a class="info__link" href="#">Privacy Policy</a></li>
          <li class="info__item"><a class="info__link" href="#">Search</a></li>
        </ul>
      </section>
      <div class="connect__wrapper">
        <section class="footer__connect">
          <h3 class="footer__heading">Connect</h3>
          <form class="connect__form" action="#">
            <input class="connect__input" type="text" placeholder="Email" />
            @@include('blocks/button.html', {
              "tag": "button",
              "type": "submit",
              "class": "",
              "name": "submit_button",
              "value": "join",
              "text": "Join"
            })
          </form>
        </section>
        <section class="social">
          <h3 class="social__heading">Social networking</h3>
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link" href="https://facebook.com/">
                <img src="img/icon/facebook.svg" alt="facebook" width="30" height="30">
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://twitter.com/">
                <img src="img/icon/twitter.svg" alt="twitter" width="30" height="30">
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://ru.pinterest.com/">
                <img src="img/icon/pinterest.svg" alt="pinterest" width="30" height="30">
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="https://instagram.com/">
                <img src="img/icon/instagram.svg" alt="instagram" width="30" height="30">
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="border"></div>
    <div class="footer__content">  
      @@include('blocks/rating.html') 
      <p class="footer__text">Copyright © 2018 Dlk • Design Life Kids</p>
      <a href="#" class="footer__link">Web Design — Direct Line Development</a>
    </div>
  </div>
</footer>