<nav class="header-mobile">
  <div class="header-mobile__overlay">
    <ul class="header-mobile__list">
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="catalog.html">Catalog</a>
      </li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="#">About Us</a>
      </li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="blog.html">Blog</a>
      </li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="blog_b.html">Blog B</a>
      </li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="animation.html">Animation</a>
      </li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="svg.html">Svg</a>
      </li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="grid.html">Grid</a>
      </li>
      <li class="header-mobile__item header-mobile__contact">
        <a class="header-mobile__link" href="contactUs.html">Contact us</a>
      </li>
    </ul>
  </div>
  
</nav>