<header class="header">
  <div class="container">
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="index.html">
              <img class="header__logo" src="img/icon/logo.svg" alt="logo" >
            </a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="catalog.html">Catalog</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="#">About Us</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="blog.html">Blog</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="blog_b.html">Blog B</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="animation.html">Animation</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="svg.html">Svg</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="grid.html">Grid</a>
          </li>
        </ul>
        <ul class="header__list_mobile">
          <li class="header__item">
            @@include('blocks/button.html', {
              "tag": "button",
              "href": "",
              "type": "button",
              "button": "",
              "class": "menu-mobile",
              "text": "Menu"
            })
          </li>
          <li class="header__item">
            <button class="menu-mobile__btn" type="button">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
                </svg>
            </button>
          </li>
        </ul>
        
        <ul class="header__list_two">
          <li class="header__item_two">
            <a class="header__link" href="">
              <img class="header__search" src="img/icon/search.svg" alt="search" width="18" height="18">
            </a>
          </li>
          <li class="header__item_two header-none">
            <a class="header__link" href="contactUs.html">Contact us</a>
          </li>
        </ul>
      </nav>
      
    </div>
</header>
@@include('blocks/header_mobile.html')

