<header class="header">
  <div class="container">
      <nav class="header__menu">

        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="index.html">
              <img class="header__logo" src="img/icon/logo.svg" alt="logo" >
            </a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="catalog.html">Catalog</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="#">About Us</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="blog.html">Blog</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="blog_b.html">Blog B</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="animation.html">Animation</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="svg.html">Svg</a>
          </li>
          <li class="header__item header-none">
            <a class="header__link" href="grid.html">Grid</a>
          </li>
        </ul>
        <ul class="header__list_mobile">
          <li>
            <a class=" menu-mobile" href="#">Menu</a>
          </li>
        </ul>
            
        
        <ul class="header__list_two">
          <li class="header__item_two">
            <a class="header__link" href="">
              <img class="header__search" src="img/icon/search.svg" alt="search" width="18" height="18">
            </a>
          </li>
          <li class="header__item_two header-none">
            <a class="header__link" href="contactUs.html">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
</header>

