<fieldset class="rating">
  <legend class="rating__company">Company Rating</legend>
  <div class="rating__group">
    <input class="rating__input" type="radio" name="rating" id="rating-1" value="1" />
    <label class="rating__star" for="rating-1" aria-label="ужасно"></label>

    <input class="rating__input" type="radio" name="rating" id="rating-2" value="2" />
    <label class="rating__star" for="rating-2" aria-label="плохо"></label>

    <input class="rating__input" type="radio" name="rating" id="rating-3" value="3" />
    <label class="rating__star" for="rating-3" aria-label="нормально"></label>

    <input class="rating__input" type="radio" name="rating" id="rating-4" value="4" />
    <label class="rating_star" for="rating-4" aria-label="хорошо"></label>

    <input class="rating__input" type="radio" name="rating" id="rating-5" value="5" />
    <label class="rating__star" for="rating-5" aria-label="отлично"></label>
  </div>
</fieldset>